<div class="main-content pl-20">

     <mat-card class="main__content-card">
          <img mat-card-image src="../../../assets/media/card.svg"
               alt="Photo of a Shiba Inu">

          <mat-card-content class="bg-white p-4 text-center">
               <h2>Stay on track and up to date</h2>
               <p>
                    Invite people to boards and cards, leave comments, add due dates, and we'll show the most important activity here.
               </p>
          </mat-card-content>
     </mat-card>

</div>