<div class="workspaces w-full p-8">
     <h2 class="uppercase text-sm font-extrabold text-gray-600">Your Workspaces</h2>

     <div class="workspaces__head flex justify-between">
          <div class="flex items-center">
               <div class="bg-pink-700 text-white text-xl font-semibold flex justify-center px-3 py-1">T</div>
               <span class="mx-2 font-semibold text-base">Trello-Clone</span>
          </div>

          <div class="action-Btns flex">
               <app-action-buttons></app-action-buttons>
               <app-action-buttons></app-action-buttons>
               <app-action-buttons></app-action-buttons>
               <app-action-buttons></app-action-buttons>
               <app-action-buttons></app-action-buttons>
          </div>
     </div>

     <div class="my-4">
          <div class="w-52 h-28 board__img px-4 py-2">
               <span class="text-white font-medium text-lg">Office</span>
          </div>
     </div>

</div>