<div class="header flex justify-between p-2 ">

    <div class="head__brand flex items-center">
        <div class="p-2 flex items-center cursor-pointer rounded-md hover:bg-slate-200 transition-all">
            <mat-icon class="">apps</mat-icon>
        </div>
        <div class="p-2 cursor-pointer rounded-md hover:bg-slate-200 transition-all">
            <img class="max-w-20" src="../../../assets/logos/Trello_logo.svg" alt="Logo">
        </div>
    </div>

    <div class="head__menu flex items-center">
        <div class="text-sm p-2 cursor-pointer rounded-md hover:bg-slate-200 transition-all flex items-center">
            <span>Workspaces</span>
            <mat-icon>expand_more</mat-icon>
        </div>
        <div class="text-sm p-2 cursor-pointer rounded-md hover:bg-slate-200 transition-all flex items-center">
            <span>Recent</span>
            <mat-icon>expand_more</mat-icon>
        </div>
        <div class="text-sm p-2 cursor-pointer rounded-md hover:bg-slate-200 transition-all flex items-center">
            <span>Starred</span>
            <mat-icon>expand_more</mat-icon>
        </div>
        <div class="text-sm p-2 cursor-pointer rounded-md hover:bg-slate-200 transition-all flex items-center">
            <span>Templates</span>
            <mat-icon>expand_more</mat-icon>
        </div>
        
        <div class="mx-4 ">
            <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 rounded">Create</button>
        </div>
    </div>

    <div class="head__cta flex basis-full justify-end items-center">
        <span class="p-1 text-2xl flex items-center hover:bg-slate-200 cursor-pointer rounded-full"><mat-icon class="">notifications_none</mat-icon></span>
        <span class="p-1 text-2xl flex items-center hover:bg-slate-200 cursor-pointer rounded-full"><mat-icon class="">help_outline</mat-icon></span>
        <span class="p-1 text-2xl flex items-center hover:bg-slate-200 cursor-pointer rounded-full"><mat-icon class="">account_circle</mat-icon></span>
    </div>
   
</div>