.board__sidenav {
     .board__sidenav--menu {
          height: calc(100vh - 176px);
     }
     
     .board__sidenav--menu::-webkit-scrollbar {
          width: 0;
     }

     ::ng-deep .material-icons {
          font-size: 20px !important;
     }

     ::ng-deep .mat-icon {
          width: 20px !important;
          height: 20px !important;
     }

     .active {
          background-color: rgb(221, 185, 255);
     }
}