<div class="board__header bg-sky-200 flex justify-between pl-8 pr-3 py-4 items-center border-b min-h-[68px]">

     <div class="flex items-center">
          <span class="hover:bg-slate-100 cursor-pointer rounded-md mx-1 px-2 py-1 text-lg font-bold">Office</span>

          <span class="flex items-center hover:bg-slate-100 cursor-pointer rounded-md mx-1 p-2 font-bold">
               <mat-icon>star_border</mat-icon>
          </span>
          <span class="flex items-center hover:bg-slate-100 cursor-pointer rounded-md mx-1 p-2 font-bold">
               <mat-icon>lock</mat-icon>
          </span>
     </div>

     <div class="flex items-center">
          <div class="mx-2">
               <img class="rounded-full w-8 h-8" src="../../../../assets/media/board-sm.webp" alt="">
          </div>

          <button class="flex mx-2 bg-slate-100 px-3 py-2 rounded-md">
               <mat-icon class="w-4 mr-1">person_add</mat-icon> Share
          </button>
          
          <span class="flex items-center hover:bg-slate-100 cursor-pointer rounded-md mx-1 p-2 font-bold">
               <mat-icon>more_horiz</mat-icon>
          </span>
     </div>
</div>