<div class="sidebar min-w-[255px]">

     <!-- SideBar Navigation -->
     <nav>
          <div [routerLink]="'/boards'"
               class="flex items-center py-2 px-3 hover:bg-slate-200 mb-1 font-medium rounded-lg cursor-pointer text-gray-600">
               <mat-icon class="text-lg mx-1">developer_board</mat-icon><span>Boards</span>
          </div>

          <div 
               class="flex items-center py-2 px-3 hover:bg-slate-200 mb-1 font-medium rounded-lg cursor-pointer text-gray-600">
               <mat-icon class="text-lg mx-1">rounded_corner</mat-icon><span>Templates</span>
          </div>

          <div routerLink="/"
               class="flex items-center py-2 px-3 bg-blue-50 hover:bg-slate-200 mb-1 font-medium rounded-lg cursor-pointer text-blue-500">
               <mat-icon class="text-lg mx-1">home</mat-icon><span>Home</span>
          </div>
     </nav>

     <mat-divider></mat-divider>


     <div class="workspace px-3 text-gray-600">
          <span>Workspace</span>
     </div>
     <!-- Workspace Accordian -->
     <mat-accordion class="mat-accordion mt-3" multi>
          <mat-expansion-panel class="mat-expansion-panel-spacing">
               <mat-expansion-panel-header>
                    <mat-panel-title>
                         <div class="workspace-icon flex justify-center">T</div>
                         <span class="mx-2">Trello-Clone</span>
                    </mat-panel-title>
               </mat-expansion-panel-header>

               <nav>
                    <div class="flex items-center py-2 px-6 hover:bg-slate-200 rounded-lg cursor-pointer text-gray-600">
                         <mat-icon class="text-base mx-1">developer_board</mat-icon><span>Boards</span>
                    </div>
                    <div class="flex items-center py-2 px-6 hover:bg-slate-200 rounded-lg cursor-pointer text-gray-600">
                         <mat-icon class="text-base mx-1">favorite_border</mat-icon><span>Highlights</span>
                    </div>
                    <div class="flex items-center py-2 px-6 hover:bg-slate-200 rounded-lg cursor-pointer text-gray-600">
                         <mat-icon class="text-base mx-1">select_all</mat-icon><span>Views</span>
                    </div>
                    <div class="flex items-center py-2 px-6 hover:bg-slate-200 rounded-lg cursor-pointer text-gray-600">
                         <mat-icon class="text-base mx-1">people_outline</mat-icon><span>Members</span>
                    </div>
                    <div class="flex items-center py-2 px-6 hover:bg-slate-200 rounded-lg cursor-pointer text-gray-600">
                         <mat-icon class="text-base mx-1">settings</mat-icon><span>Settings</span>
                    </div>
               </nav>
          </mat-expansion-panel>

     </mat-accordion>
</div>