.sidebar ::ng-deep .mat-accordion>.mat-expansion-panel-spacing {
     background-color: #fff !important;
     box-shadow: none;
}

.sidebar ::ng-deep .mat-expansion-panel-header.mat-expanded {
     height: 50px;
}

.sidebar ::ng-deep .mat-expansion-panel-header {
     padding: 0 12px;
}

.sidebar ::ng-deep .mat-expansion-panel-body {
     padding: 0 0;
}

.sidebar ::ng-deep .mat-expansion-panel-header-title {
     color: #455570;
}

.sidebar ::ng-deep .mat-divider {
     border-top: 1px solid #4555705a;
     margin: 1rem 0;
}

.sidebar ::ng-deep .workspace-icon {
     background-color: aqua;
     height: 20px;
     width: 20px;
}