.sidebar {
     
     ::ng-deep .mat-accordion>.mat-expansion-panel-spacing {
          background-color: #fff !important;
          box-shadow: none;
     }

     ::ng-deep .mat-expansion-panel-header.mat-expanded {
          height: 50px;
     }

     ::ng-deep .mat-expansion-panel-header {
          padding: 0 12px;
     }

     ::ng-deep .mat-expansion-panel-body {
          padding: 0 0;
     }

     ::ng-deep .mat-expansion-panel-header-title {
          color: #455570;
     }

     ::ng-deep .mat-divider {
          border-top: 1px solid #4555705a;
          margin: 1rem 0;
     }

     ::ng-deep .workspace-icon {
          background-color: aqua;
          height: 20px;
          width: 20px;
     }
}