<!-- Board Header -->
<app-board-header  [board]="board"></app-board-header>

<!-- Board Lists -->
<div class="board__content p-4 flex overflow-x-auto overflow-y-hidden border-b">

    <!-- List Card -->
    <app-board-list 
        *ngFor="let list of lists"
        [list]="list"></app-board-list>

    <!-- Add List Button -->
    <div class="">
        <div class="hover:bg-slate-200 bg-slate-300 rounded-lg flex items-center cursor-pointer w-64 mx-2 font-medium p-2">
            <span class="flex items-center text-slate-600 rounded-md mx-1">
                <mat-icon>add</mat-icon>
            </span>
            <span class="text-slate-600">Add a card</span>
        </div>
    </div>
    
</div>