
   
     <!-- Board Header -->
     <app-board-header class=""></app-board-header>

     <!-- Board Lists -->
     <div class="h-[calc(100vh - 120px)] p-4 flex overflow-x-auto border-b">
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
         <app-board-list></app-board-list>
     </div>
   